.contenedor__link{
    display: flex;
    margin: 10px auto;
    max-width: 900px;
}


.container__img{
    display: grid;
    grid-template-columns: auto  auto; 
    gap: 1.25rem 2.38rem;
    padding: 2.5rem;
    justify-content: center;
    max-width: 760px; 
    margin: 0 auto;
    right: auto; 
}

.container__link__img{
    max-width: 90%;
    cursor: pointer;
    padding: 0;


}

.img__menu{
    max-width: 100%;
    border: 3px solid transparent;
}

.img__menu:hover{
    border: 3px solid red;
    border-radius: 0 10%;
} 





