
.footer__container{
    background-color: var(--color-primario-claro);
    width: 100%;
  }
  
  .footer__Helppaws{
    text-align: center;
    
  }
  
  .footer__container .footer_div1 .redes__sociales i:hover{
    color: var(--color-texto);
  }
  
  .footer__container .footer_div1 .redes__sociales i:hover{
    color: var(--color-texto);
  }
  
  
  .footer__container .footer_div1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .footer__container .footer_div1 .box figure img{
    width: 250px;
  }
  
  
  .footer__container .footer_div2{
    background-color: var(--color-primario) ;
    padding: 1rem 0.63rem;
    text-align: center;
    color: var(--color-texto);
  }
  
  .footer__container .footer_div2 small{
    font-size: 1rem;
    letter-spacing: 0.13rem;
  }
  
  .container-total{
    min-height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto ;
  }
  
  i{
    cursor: pointer;
  }
  